<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer class="bg-dark text-light text-center text-lg-start mt-auto py-4">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-3">Pede Fava</h5>
            <p>
              O <strong>Pede Fava</strong> é o ERP completo e intuitivo, feito
              sob medida para confeiteiras e negócios de confeitaria em
              Campinas. Simplifique a gestão de pedidos, organize o cadastro de
              clientes, controle seu estoque de ingredientes e otimize as
              proporções das suas receitas. Com o Pede Fava, você ganha tempo e
              aumenta a produtividade para focar no que realmente importa: criar
              delícias!
            </p>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-3">Links Rápidos</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a
                  href="../pages/sobre-nos.html"
                  class="text-light text-decoration-none"
                  >Sobre Nós</a
                >
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-3">Fale Conosco</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <p>📍 Campinas, SP, Brasil</p>
              </li>
              <li>
                <p>✉️ contato@pedefava.com.br</p>
              </li>
              <li>
                <p>📞 +55 19 9xxxx-xxxx</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2025 Pede Fava. Todos os direitos reservados.
      </div>
    </footer>
  </body>
</html>
